@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16.5px; /* 👈 slightly bigger than default */
  }

  body {
    @apply text-gray-200;
  }
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-base md:text-lg;
  }
}

/* 🔥 Moving Glow Border */
.glow-border {
  position: relative;
  z-index: 0;
}

.glow-border::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 16px;
  padding: 2px;
  background: linear-gradient(    120deg,    #a855f7,    #3b82f6,    #a855f7,    #ec4899,    #a855f7  );
  background-size: 300% 300%;
  animation: glowMove 4s linear infinite;
  /*Maskmagic*/-webkit-mask:     linear-gradient(#000 0 0) content-box,     linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

@keyframes glowMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 300% 50%; }
}